.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.search-bar {
  margin: 20px;
  text-align: center;
}
.search-bar input {
  width: 75%;
}
.video-item img {
  max-width: 64px;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #eee 
}
